Source: package_name
Maintainer: maintainer
Section: admin
Priority: optional
Build-Depends: debhelper (>= 8.0.0)

Package: package_name
Version: app_version-ubuntu_version
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, DEPENDENCIES
Description: Cloud Foundry Go Router
 The Router routes traffic coming into Cloud Foundry to the appropriate
 component – usually Cloud Controller or an application running on a DEA node.
 The router is implemented in Go. Routers listen for the messages that a DEA
 issues when an application comes online or goes offline, and maintain
 an in-memory routing table.
 Incoming requests are load balanced across a pool of Routers.
