Source: package_name
Maintainer: maintainer
Section: admin
Priority: optional
Build-Depends: debhelper (>= 8.0.0)

Package: package_name
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, DEPENDENCIES
Description: Cloud Foundry NATS Server
 A lightweight publish-subscribe and distributed queueing messaging system.

